* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  background-color: #fff;
}

.container {
  max-width: 960px;
  margin: 5px auto;
}

header {
  background-color: #2F3E46;
  color: #CAD2C5;
  padding: 5px;
}

main {
  display: flex;
  color: #2F3E46;
  text-align: center;
}

aside {
  padding: 5px;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0%;
  background-color: #2F3E46;
  color: #CAD2C5;;
  text-align: center;
}

.color {
  border-radius: 50%;
  border-color: #2F3E46;
}

#color-palette {
  display: flex;
  margin: 10px 0;
  border-spacing: 20px 0;
}

#pixel-board {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  border-collapse: collapse;
}

td {
  cursor: pointer;
  padding: 30px;
  border: 1px solid #000;
}

button {
  padding: 3px;
}